
API2/Entities/bin/Debug/

API2/Entities/obj/Debug/

API2/Exceptions/bin/Debug/

API2/Exceptions/obj/Debug/

*.nupkg

API2/packages/Antlr\.3\.4\.1\.9004/lib/

API2/src/Contracts/bin/Debug/

API2/src/Contracts/obj/Debug/

API2/src/DataAccess/obj/Debug/

API2/src/DataAccessContracts/bin/Debug/

API2/src/DataAccessContracts/obj/Debug/

API2/src/Identity/bin/Debug/

API2/src/Identity/obj/Debug/

API2/src/IoC/obj/Debug/

API2/src/ServiceContracts/obj/Debug/

API2/src/Services\.cs/obj/Debug/

API2/src/Tests/bin/Debug/

API2/src/WebApi/obj/Debug/
